body.mydoggo {
    background-image: url('images/dogback.jpg');
    background-repeat: repeat;
}

h1 {
    text-align: center;
}

p {
    width: 500;
    background-color: white;
    text-align: center;
}

img {
        border: 5px solid black;
        border-radius: px;
        padding: 5px;
        width: 450px;
}

a{

}